<h1 class="text-3xl font-semibold text-center mt-5">
  Clicked Card {{ clickedCard }} <br />
  Hovered Card {{ hoveredCard }}
</h1>
<h6 *appIf="false">Yahyoxon</h6>
<div class="flex w-10/12 mt-5 mx-auto">
  <div class="w-4/6 flex flex-wrap gap-5">
    <ng-container *ngFor="let card of cards; let i = index">
      <app-card
        [clickedCard]="card.title"
        [bgOnHover]="card.title"
        [card]="card"
        [index]="i"
      ></app-card>
    </ng-container>
  </div>
  <div class="w-2/6 items-center text-center m-auto">
    <router-outlet></router-outlet>
  </div>
</div>
