<div>
  <h1 class="text-3xl font-semibold text-center mt-5">
    Clicked Card {{ clickedCard }} <br />
    Hovered Card {{ hoveredCard }}
  </h1>
  <div class="flex m-auto w-[50rem] h-100 flex-wrap gap-5 mt-5">
    <ng-container *ngFor="let card of cards">
      <app-card
        [clickedCard]="card.title"
        [bgOnHover]="card.title"
        [title]="card.title"
        [description]="card.description"
        [link]="card.link"
      ></app-card>
    </ng-container>
  </div>
  <app-card-form></app-card-form>
</div>
